/* XS /
@media (min-width: 29.6875rem) { / 475px / 16px = 29.6875rem /
  .container {
    max-width: 29.6875rem;
  }
}

/ SM /
@media (min-width: 40rem) { / 640px / 16px = 40rem /
  .container {
    max-width: 40rem;
  }
}

/ MD /
@media (min-width: 48rem) { / 768px / 16px = 48rem /
  .container {
    max-width: 48rem;
  }
}

/ LG /
@media (min-width: 64rem) { / 1024px / 16px = 64rem /
  .container {
    max-width: 64rem;
  }
}

/ XL /
@media (min-width: 80rem) { / 1280px / 16px = 80rem /
  .container {
    max-width: 80rem;
  }
}

/ XXL /
@media (min-width: 96rem) { / 1536px / 16px = 96rem /
  .container {
    max-width: 96rem;
  }
} */

.btn {
  background-color: var(--clr-accent);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 73px 0px var(--clr-accent);
}

.container {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 10rem;
  padding: 0;
}

/* XS */
@media (min-width: 29.6875rem) {
  .container {
    max-width: 29.6875rem;
  }
}

/* SM */
@media (min-width: 40rem) {
  .container {
    max-width: 40rem;
  }
}

/* MD */
@media (min-width: 48rem) {
  .container {
    max-width: 48rem;
  }
}

/* LG */
@media (min-width: 64rem) {
  .container {
    max-width: 64rem;
  }
}

/* XL */
@media (min-width: 80rem) {
  .container {
    max-width: 80rem;
  }
}

/* XXL */
@media (min-width: 96rem) {
  .container {
    max-width: 96rem;
  }
}
